*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.s-title{
    margin: 40px;
}

.content{
    padding: 40px;
    border-radius: 2.5rem;;
    background-color: lightblue;
}

.task-done{
    text-decoration: line-through;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

h3{
    padding-bottom: 30px;
}

h4{
    padding: 30px;
}

.list-unstyled li{
    padding: 20px;
}

.input-group{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.input-field{
    width: 800px;
}

.fas{
    padding: 5px;
}

.s-btn{
    padding: 7px 7px;
}

.input-task{
    border-radius: 10px;
    width: 100%;
    padding: 5px 5px;
}